@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container my-5">
    <h2 class="text-center mb-4">Available Equipment</h2>
    <div class="row">
        <!-- Equipment Item 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/equipment1.jpg" class="card-img-top" alt="Microscope">
                <div class="card-body">
                    <h5 class="card-title">High-Resolution Microscope</h5>
                    <p class="card-text">
                        This advanced high-resolution microscope is designed for precise and detailed observations in laboratory experiments.
                        It features multiple magnification levels, LED illumination, and an ergonomic design for comfortable use.
                    </p>
                    <ul class="card-text">
                        <li>Magnification: 40x - 1000x</li>
                        <li>High-quality optical glass lenses</li>
                        <li>Adjustable LED lighting for clear visibility</li>
                        <li>USB connectivity for digital imaging</li>
                        <li>Ergonomic design for extended use</li>
                    </ul>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>

        </div>
        <!-- Equipment Item 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/equipment2.jpg" class="card-img-top" alt="Centrifuge">
                <div class="card-body">
                    <h5 class="card-title">High-Speed Centrifuge</h5>
                    <p class="card-text">Perfect for precise sample separation.</p>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <!-- Equipment Item 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/equipment3.jpg" class="card-img-top" alt="Spectrometer">
                <div class="card-body">
                    <h5 class="card-title">Advanced Spectrometer</h5>
                    <p class="card-text">Used for accurate spectral analysis.</p>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <!-- Equipment Item 4 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="~/images/equipment4.jpg" class="card-img-top" alt="Oscilloscope">
                <div class="card-body">
                    <h5 class="card-title">Digital Oscilloscope</h5>
                    <p class="card-text">Used for analyzing electrical signals.</p>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <!-- Equipment Item 5 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="~/images/equipment5.jpg" class="card-img-top" alt="3D Printer">
                <div class="card-body">
                    <h5 class="card-title">3D Printer</h5>
                    <p class="card-text">Used for rapid prototyping and model making.</p>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <!-- Equipment Item 6 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="~/images/equipment6.jpg" class="card-img-top" alt="Tensile Testing Machine">
                <div class="card-body">
                    <h5 class="card-title">Tensile Testing Machine</h5>
                    <p class="card-text">For testing material strength and elasticity.</p>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <!-- Equipment Item 7 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="~/images/equipment7.jpg" class="card-img-top" alt="Soldering Station">
                <div class="card-body">
                    <h5 class="card-title">Soldering Station</h5>
                    <p class="card-text">Essential for assembling electronic circuits.</p>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <!-- Equipment Item 8 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="~/images/equipment8.jpg" class="card-img-top" alt="Function Generator">
                <div class="card-body">
                    <h5 class="card-title">Function Generator</h5>
                    <p class="card-text">For generating electrical waveforms.</p>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <!-- Equipment Item 9 -->
        <div class="col-md-4 mt-4">
            <div class="card">
                <img src="~/images/equipment9.jpg" class="card-img-top" alt="Hot Plate">
                <div class="card-body">
                    <h5 class="card-title">Hot Plate with Magnetic Stirrer</h5>
                    <p class="card-text">For heating and stirring chemical solutions.</p>
                    <a href="booking.html" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
